.bundle/
*.swp
coverage/
vendor/bundle_gems
*.tmproj
*.swp
.idea/
.idea/*
.buildpath
.project
db/*sqlite3
.DS_Store
reports/*
!reports/js/*
!reports/tasktimes.html
tmp/
*~
._*
.sass-cache/
reference-data/
tags
log/*.log
*.iml
public/web/objects/
public/assets/
rerun.txt
junit/*
bin
