ul
{
    padding: 0px;
}

li.pipeline
{
    background-color: white;
    list-style-type: none;
    margin: 2px;
    padding: 0px;
    font-family: Helvetica;
    font-size: 14pt;
    font-weight: bold;
}


li.stage
{
    list-style-type: none;
    display: inline-block;
    vertical-align: top;
    margin: 0;
    padding: 0;
    border: 1px solid #7490a8;
}

li.stage h2
{
    margin: 0px;
    padding: 10px;
    font-size: 12pt;
    background-color: #f2f7fb;
}

li.job
{
    list-style-type: none;
    border-top: 1px solid #c0d6eb;
    
}

li.job h2
{
    margin: 0px;
    padding: 10px;
    list-style-type: none;
    background-color: #ffffff;
    font-size: 12pt;
}

li.job.ok
{
    display: none;
}

li.job.broken
{
    font-color: red;
}

li.job.building {
    background-color: blue;
}


